@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-radius: 10px;  
}

::-webkit-scrollbar-thumb {
  background: #c800c8;
  border-radius: 10px; 
  border: 2px solid #1e1e1e; 
}

::-webkit-scrollbar-thumb:hover {
  background: #ff00ff; 
}